.main-app-page{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    flex: 1;
}


.map{
    height: 70vh;
    width: 100vw;
    z-index: 1;
}

.nav{
    height: 100%;
}



