.main-app-page{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    flex: 1;
}


.nav{
    position: relative;
    height: 100%;
    z-index: 10001;
    margin-top: 0.5em
}
