.report-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    gap: 1rem;
}

.confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    gap: 1rem;
}
.buttons{
    width: 100%;
}

.buttons button{
    width: 100%;
}

