.login-page{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header{
    margin: 10%;
}
 .main{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.main h2{
    flex:1;
    text-align: start;
}



.explanation{
    max-width: 80%;
    text-align: start;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    min-width: 100%;
}

.login-form input{
    border-radius: 12px;
    padding: 10px 10px;
    border-width: 1px;
    color: white;
    background: transparent;
    text-align: left;
    min-width: 100%;
}
.login-form input::placeholder{
    background: transparent;
    text-align: left;
}

.login-form button{
    margin-top: 20px;
    min-width: 100%;
}

.login-page button{
    margin: 1px auto;
    text-align: center;
}

.forgot{
    margin-bottom: 10px;
    min-width: 100%;
}

.forgot button{
    min-width: 100%;
}
.no-account{
    font-size: 12px;
    align-self: center;
}
.no-account .link{
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
