.app{
    min-height: 100vh;
    background-color: #001D3D;
    display: flex; 
    flex-direction: column                                                                                                                                                                            
}
